[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow:hidden;
	span{
		@include abs-pos(0,auto,auto,-500px);
	}
}
.icon-angle-up, .icon-angle-down{
	position: fixed;
	top: 140px;
	left: 50%;
	width:50px;
	margin-left: -25px;
	height:50px;
	text-align:center;
	@include transition(opacity .3s ease);
	line-height:50px;
	background-color: transparent;
	z-index: 994;
	@include opacity(.5);
	@include font-size(40px);
	display: none;
	&:hover,&:active{
		@include opacity(1);
	}
}
.icon-angle-down{
	top:auto;
	bottom: 20px;
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-info-icon:before{
	content: "\e600";
	color:$light-grey;
		@include font-size(33px);
}
.icon-info-icon{
	@include abs-pos(50%,0.9375rem,auto,auto);
	margin-top:-16px;
	z-index: 999;
	&:hover,&:active{
		&:before{
			color: darken($light-grey,10%);
		}
	}
}
.icon-map-pin:before {
	@include font-size(34px);
	content: "\e601";

}
.icon-twitter, .icon-linkedin{

}
.icon-twitter:before {
	content: "\f099";
	@include font-size(34px);
	
}
.icon-linkedin:before {
	content: "\f0e1";
	@include font-size(34px);
}

@media #{$medium-up} { 

	.icon-angle-up, .icon-angle-down{
		display:block;
	}
	.icon-info-icon{
		@include abs-pos(50%,40px,auto,auto);
	}
}

