h1,h2{
	font-family: $proxima-nova;
	@include font-size(30px);
	margin: 0 0 30px;
	line-height:100%;
	color: white;
	font-weight:normal;
}
a{
	&:link,&:visited{
		text-decoration: none;
		color: white;
	}
}
p{
	margin: 0 0 25px;
	&:last-child{
		margin-bottom: 0
	}
}
strong{
	font-family: $proxima-nova-bold;
}

@media #{$medium-up} { 

h1,h2{
	@include font-size(40px);

}

}